{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-3">
             <img src="{% static 'images/loginpic.png' %}" alt="" width="70%" height="100%" class="D-block mx-auto">
        </div>
        <div class="col-md-4 mt-4">
            <div class="card ">
                <div class="card-title mt-4">
                    <a class="navbar-brand " id="login" href="#"><img src="{% static 'images/insta.png' %}" alt="">
                        </a>
                </div>
                <div class="card-body mb-3 mr-3 ml-3" >

                    <form action="" method="post" novalidate class="text-center">
                        {% csrf_token%}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm D-block mt-3"> Log In</button>
                    </form>
                </div>
                <a href="" class="D-block mx-auto mb-3">Forgot password? </a>
            </div>
            <div class="card mt-2">
                <div class="card-body mt-3 mb-3 mr-2 ml-4">
                    Don't have an account? <a class="mx-auto" href="{% url 'signup' %}">Sign up</a>
                </div>
            </div>
            <div class="container" >
                <p class="text-center mt-4">Get the app</p>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5 mb-2">
                         <img src="{% static 'images/appstore.png' %}" alt="" width="100%" class="download">
                    </div>
                    <div class="col-md-5 mb-2">
                        <img src="{% static 'images/playstore.png' %}" alt="" width="100%" class="download">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}