<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="ms-auto">
                <div class="search">
                    <input
                    style="border: 1px solid #DBDBDB; background-color: #FAFAFA; height: 30.5px;width: 14.5rem ;border-radius: 3.5px;padding-left: 25px;"
                        type="text" placeholder="Search">
                </div>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><img src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_home-128.png" alt="" style="viewBox="0 0 50 50"; width="35";></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="https://cdn1.iconfinder.com/data/icons/social-media-outline-6/128/SocialMedia_Messenger-Outline-128.png" alt="" style="viewBox="0 0 50 50"; width="35";></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2482/24/new_post-128.png" alt="" style="viewBox="0 0 50 50"; width="35";></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="https://cdn.icon-icons.com/icons2/3405/PNG/512/explore_icon_216076.png" alt="" style="viewBox="0 0 50 50"; width="35";></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-63-128.png" alt="" style="viewBox="0 0 50 50"; width="35";></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{ user.profile.profile_pic.url }}" alt="" style="viewBox="0 0 50 50"; width="50";></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' user.username %}"><img class="rounded-circle user-img" src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/30.User-128.png" alt=""> Profile</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-logo-4/32/Social_Media_instagram_save_save_instagram-128.png" alt="" style="viewBox="0 0 24 24"; width="16";> Saved</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdn3.iconfinder.com/data/icons/user-interface-798/32/User_interface_setting_gear_interface_ui_multimedia-128.png" alt="" style="viewBox="0 0 24 24"; width="16";> Setting</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdn4.iconfinder.com/data/icons/bold-purple-free-samples/32/Arrows_Refresh_Replace_Round_Circle-128.png" alt="" style="viewBox="0 0 24 24"; width="16";> Switch Accounts</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<hr>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>